@{
	ViewBag.Title = "Главная";
}

<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer" style="background-image: url(https://c.pxhere.com/photos/b1/dc/abstract_arctic_background_cold_cool_cube_drink_freeze-1259009.jpg!d);background-repeat:no-repeat">
	<h1 style="color: black">GeoCourse.</h1>
	<p>
		Мы создаем и продвигаем элемент системы геологического образования в России, который будет способствовать повышению доступности и качества образования.
		Все курсы, размещенные на Платформе, доступны бесплатно и без формальных требований к базовому уровню образования.
	</p>
	<p>
		@Html.ActionLink("Показать все курсы", "All", "Home", new { }, new { @class = "btn btn-primary" })
	</p>
</header>

<h2 class="text-center popular">Популярные курсы:</h2>
<div class="row text-center">
	@foreach (var course in ViewBag.PopularCourses)
	{
		<div class="col-md-4 col-sm-6 hero-feature">
			<div class="thumbnail">
				<img src="@course.PicturePath" class="img-responsive text-center" alt="">
				<div class="caption">
					<h3>@course.Title</h3>
					<p>@( (course.Description as string).Length < 102 ? (course.Description as string) : (course.Description as string).Substring(0, 102) + "...")</p>
					<p>
						@Html.ActionLink("Узнать подробнее", "Course", "Course", new { id = course.CourseId }, new { @class = "btn btn-primary" })
					</p>
				</div>
			</div>
		</div>
	}

	<!--Here some fake data-->

	<div class="col-md-4 col-sm-6 hero-feature">
		<div class="thumbnail">
			<img src="~/Content/TestCourse/test1.jpg" alt="">
			<div class="caption">
				<h3>Современная добывающая промышленность в мире</h3>
				<p>Пройдя этот курс, вы узнаете о текущем состоянии мировой добывающей промышленности.</p>
				<p>
					<a href="#" class="btn btn-primary">Узнать подробнее</a>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row text-center custom-row">
	@Html.ActionLink("Показать все курсы", "All", "Home", new { }, new { @class = "btn btn-primary btn-success btn-lg" })
</div>