@model GeoCourse.Client.ViewModels.TestViewModel
@{
	ViewBag.Title = "FinalTest";
}

<h2>Финальный тест по курсу <u>@Html.ActionLink(ViewBag.CourseTitle as string, "Course", "Course", new { id = (int)ViewBag.CourseId }, new { })</u></h2>
<p style="margin-top: 40px">Ниже приведен список вопросов, на которые нужно ответить, выбрав верный вариант. У каждого вопроса только один верный вариант ответа. Выбрав варианты ответа на каждый из вопросов, нажмите на "Завершить тест" внизу страницы.</p>

@using (Html.BeginForm("VerifyFinalTest", "Test", FormMethod.Post))
{
	for (int i = 0; i < Model.Questions.Count; i++)
	{
		@Html.HiddenFor(t => t.Questions[i].QuestionId)
		<h3>@Model.Questions[i].Title <small>  @Html.ValidationMessageFor(t => t.Questions[i].SelectedAnswer, "", new { @class = "text-danger" })</small></h3>

		foreach (var answer in Model.Questions[i].Answers)
		{
			<div class="form-group">
				@Html.RadioButtonFor(t => t.Questions[i].SelectedAnswer, answer.AnswerId, new { id = answer.AnswerId }) @answer.Title
			</div>
		}
		<hr />
	}

	<input type="submit" value="Завершить финальный тест" class="btn btn-danger btn-lg" />
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}