
@{
	ViewBag.Title = "FinalTestResult";
}

<h2>Финальный тест по курсу <u>@Html.ActionLink(ViewBag.CourseTitle as string, "Course", "Course", new { id = (int)ViewBag.CourseId }, new { })</u> завершен.</h2>
<h3>Результат финального теста: <span style="color: chocolate"> @ViewBag.Correct </span>/ @ViewBag.All (<span style="color: chocolate">@(Math.Round((double)ViewBag.Correct / ViewBag.All * 100, 2))%</span>)</h3>

<h3>Общая статистика по курсу:</h3>

<div class="row">
	<div class="col-md-6">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<td><b>Раздел</b></td>
					<td><b>Баллы</b></td>
					<td><b>Процент</b></td>
				</tr>
			</thead>
			<tbody>
				@for (int i = 0; i < ViewBag.Tests.Count; i++)
				{
					<tr>
						<td>@ViewBag.Tests[i].Chapter</td>
						<td>@ViewBag.TestResults[i].PointCount / 5 </td>
						<td>@((double)ViewBag.TestResults[i].PointCount / 5 * 100)%</td>
					</tr>
				}
				<tr><td><b>Общий результат:</b> </td><td><span style="color: chocolate">@ViewBag.CurrentPoints</span> / @ViewBag.MaxPoints</td></tr>
			</tbody>
		</table>
	</div>
</div>

<h2>Итоговая оценка курса: <span style="color: chocolate"> @(Math.Round((double)ViewBag.FinalPercentage, 2)) % </span></h2>

@if (ViewBag.FinalPercentage > ViewBag.CourseRequiredPercentage)
{
	<div id="successful">
		<p class="text-success">Поздравляем, вы прошли данный курс!</p>
	</div>
	
}
else
{
	<div id="failed">
		<p>К сожалению, вашей оценки недостаточно, чтобы засчитать данный курс.</p>
	</div>
}

<u>@Html.ActionLink("Вернуться на главную", "Index", "Home", new { }, new { @class = "btn btn-default" })</u>

