@model GeoCourse.Client.ViewModels.TestViewModel
@{
	
}

<h2>Тест по главе: <u>@Html.ActionLink(ViewBag.Title as string, "Chapter", "Course", new { id = Model.TestId }, new { })</u></h2>

<p style="margin-top: 40px">Ниже приведен список вопросов, на которые нужно ответить, выбрав верный вариант. У каждого вопроса только один верный вариант ответа. Выбрав варианты ответа на каждый из вопросов, нажмите на "Завершить тест" внизу страницы.</p>


@if (ViewBag.Blocked)
{
	<p>Вы исчерпали лимит попыток для сдачи данного теста!</p>
}
else
{
	<div class="">
	@using (Html.BeginForm("Verify", "Test", FormMethod.Post))
	{
		@Html.HiddenFor(t => t.TestId)

		for (int i = 0; i < Model.Questions.Count; i++)
		{
			@Html.HiddenFor(t => t.Questions[i].QuestionId)

			
			<h3>@Model.Questions[i].Title <small>  @Html.ValidationMessageFor(t => t.Questions[i].SelectedAnswer, "", new { @class = "text-danger" })</small></h3>

			foreach (var answer in Model.Questions[i].Answers)
			{
				<div class="form-group">
					@Html.RadioButtonFor(t => t.Questions[i].SelectedAnswer, answer.AnswerId, new { id = answer.AnswerId }) @answer.Title
				</div>
			}
			<hr />
		}

		<input type="submit" value="Завершить тест" class="btn btn-danger btn-lg" />
	}
	</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

