
@{
    ViewBag.Title = "Verify";
}

<h2>Результат: @ViewBag.Percent %</h2>
<h3>Вы ответили правильно на @ViewBag.CorrectAnswerCount вопросов из @ViewBag.AnswerCount</h3>

<h3>Вопросы, на которые были даны неправильные ответы:</h3>

<ul>
	@foreach (var question in ViewBag.FailedQuestions)
	{
		<li>@question</li>
	}
</ul>

@if (ViewBag.MaxTryReached)
{
	<p>Ваш результат сохранен, к сожалению, это была ваша последняя попытка. Удачи в следующих разделах!</p>
}
else
{
	<p>Ваш результат сохранен, чтобы пройти тест еще раз, нажмите @Html.ActionLink("пройти еще раз", "Test", "Test", new { id = (int)ViewBag.TestId }, new { }). Учтите, что эта попытка будет последней в вашей жизни.</p>
}

@Html.ActionLink("Вернуться на главную страницу курса", "Course", "Course", new { id = (int)ViewBag.CourseId }, new { })



