
@{
    ViewBag.Title = "Verify";
}

<h2>Результат: <span style="color: chocolate"> @ViewBag.Percent % </span></h2>
<h3>Верных ответов: <span style="color: chocolate"> @ViewBag.CorrectAnswerCount </span> из @ViewBag.AnswerCount</h3>

<div class="row custom-row">
	@if (ViewBag.FailedQuestions.Count == 0)
	{
		<p>Вы ответили верно на все вопросы!</p>
	}
	else
	{
		<table class="table table-hover table-striped table-bordered col-md-6">
			<thead>
				<tr><td><b>Вопросы, на которые были даны неправильные ответы:</b></td></tr>
			</thead>
			<tbody>
				@foreach (var question in ViewBag.FailedQuestions)
				{
					<tr class="danger"><td>@question</td></tr>
				}
			</tbody>
		</table>
	}
</div>

<div class="row custom-row">
	@if (ViewBag.MaxTryReached)
	{
		<p class="text-warning">Ваш результат сохранен, к сожалению, это была ваша последняя попытка. Удачи в следующих разделах! Ваш лучший результат был сохранен.</p>
	}
	else
	{
		<p>Ваш результат сохранен, чтобы пройти тест еще раз, нажмите @Html.ActionLink("пройти еще раз", "Test", "Test", new { id = (int)ViewBag.TestId }, new { }).</p>
	}
</div>

<div class="row">
	<u>@Html.ActionLink("Вернуться на главную страницу курса", "Course", "Course", new { id = (int)ViewBag.CourseId }, new { @class = "btn btn-default"})</u>
</div>




