@model GeoCourse.Client.ViewModels.EnrollViewModel
@{
	ViewBag.Title = "Course";
}

<h2 class="popular">@ViewBag.Course.Title</h2>

<div class="row custom-row">
	<div class="col-md-8">
		<p>
			@ViewBag.Course.Description
		</p>
		<hr />
		<p>Примерное время прохождения курса: <span class="duration">@ViewBag.Course.Duration</span></p>
		<p>Требуемый процент прохождения: <span class="duration" style="font-size: large">@ViewBag.Course.RequiredPoints %</span></p>
	</div>
	<div class="col-md-4">
		<img src="http://placehold.it/800x500" class="img-responsive img-rounded" alt=""/>
	</div>
</div>
<hr />

<div class="row">
	@if (Request.IsAuthenticated)
	{
		<div class="col-md-8" id="chapters">
			<h2>Разделы:</h2>
			<div>
				@foreach (var chapter in ViewBag.CourseMap)
				{
					if (ViewBag.IsEnrolled)
					{
						<p style="font-size: large">@Html.ActionLink(chapter.Chapter as string, "Chapter", "Course", new { id = chapter.TestId }, new { })</p>
					}
					else
					{
						<p style="font-size: large">@chapter.Chapter</p>
					}
					
					<blockquote>@chapter.Description</blockquote>
				}
			</div>
		</div>
		
		<div class="col-md-4">
			@if (!ViewBag.IsEnrolled)
			{
				<div class="text-center">
					@using (Html.BeginForm("Enroll", "Course", FormMethod.Post))
					{
						@Html.AntiForgeryToken()
						@Html.HiddenFor(c => c.CourseId)
						@Html.HiddenFor(c => c.User_Id)
						<input type="submit" class="btn btn-success btn-lg" value="Зарегистрироваться на курс" />
					}
				</div>
			}
			else
			{
				if (ViewBag.CompletelyFinished)
				{
					<div class="stats">
						<h3 class="text-center">Итоговая статистика:</h3>
						<!--Probably make links to start test page-->

						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<td><b>Раздел</b></td><td><b>Баллы</b></td>
								</tr>
							</thead>
							<tbody>
								@for (int i = 0; i < ViewBag.TestResults.Count; i++)
								{
									<tr><td>@ViewBag.CourseMap[i].Chapter</td><td>@ViewBag.TestResults[i].PointCount</td></tr>
								}
								<tr><td><b>Общий результат:</b> </td><td><span style="color: chocolate">@ViewBag.CurrentPoints</span> / @ViewBag.MaxPoints</td></tr>
							</tbody>
						</table>
					</div>

					using (Html.BeginForm("TryAgain", "Course", FormMethod.Post))
					{
						@Html.AntiForgeryToken()
						@Html.HiddenFor(c => c.CourseId)
						@Html.HiddenFor(c => c.User_Id)
						<div style="margin-top: 20px">
							<div class="text-center">
								<input type="submit" class="btn btn-success btn-lg" value="Начать курс сначала" />
							</div>
						</div>
					}
				}
				else
				{
					<div class="stats">
						<h3 class="text-center">Текущий прогресс:</h3>
						<!--Probably make links to start test page-->

						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<td><b>Раздел</b></td><td><b>Баллы</b></td>
								</tr>
							</thead>
							<tbody>
								@for (int i = 0; i < ViewBag.TestResults.Count; i++)
								{
									<tr><td>@ViewBag.CourseMap[i].Chapter</td><td>@ViewBag.TestResults[i].PointCount</td></tr>
								}
								<tr><td><b>Общий результат:</b> </td><td><span style="color: chocolate">@ViewBag.CurrentPoints</span> / @ViewBag.MaxPoints</td></tr>
							</tbody>
						</table>
					</div>

					if (ViewBag.IsCourseFinished)
					{
						<h4 class="text-center">Окончить курс</h4>
						<small >Чтобы приступить к финальному тесту за курс, нажмите на кнопку ниже.</small>
						<div style="margin-top: 10px">
							<div class="text-center">
								@Html.ActionLink("Пройти финальный тест", "FinalTest", "Test", new { id = (int)ViewBag.FinalTestResultId }, new { @class = "btn btn-success btn-lg btn-block" })
							</div>
						</div>
					}
					else
					{
						if (!ViewBag.HaveTestSkipped)
						{
							<h4 class="text-center">Завершить курс</h4>
							<small>Вы можете завешить курс и перейти к финальному тестированию, поскольку попытались пройти каждый тест в курсе.</small>
							<div class="text-center">
								@Html.ActionLink("Завершить", "FinishCourse", "Course", new { id = (int)ViewBag.UserCourseId }, new { @class = "btn btn-danger btn-lg" })
							</div>
						}
					}
				}
			}
		</div>
	}
	else
	{
		<div class="jumbotron hero-spacer">
			<p>Чтобы увидеть карту курса и записаться на него, вам нужно @Html.ActionLink("зарегистрироваться", "Register", "Account") или @Html.ActionLink("войти", "Login", "Account").</p>
		</div>
	
	}
</div>