@model GeoCourse.Client.ViewModels.EnrollViewModel
@{
	ViewBag.Title = "Course";
}

<h2>@ViewBag.Course.Title</h2>
<p>
	@ViewBag.Course.Description
</p>

@if (Request.IsAuthenticated)
{
	<ul>
	@foreach (var chapter in ViewBag.CourseMap)
	{
		if (ViewBag.IsEnrolled)
		{
			<li>@Html.ActionLink(chapter.Chapter as string, "Chapter", "Course", new { id = chapter.TestId }, new { })</li>
		}
		else
		{
			<li>@chapter.Chapter</li>
		}
	}
	</ul>
	if (!ViewBag.IsEnrolled)
	{
		<div>
			@using (Html.BeginForm("Enroll", "Course", FormMethod.Post))
			{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(c => c.CourseId)
				@Html.HiddenFor(c => c.User_Id)
				<input type="submit" value="Зарегистрироваться на курс" />
			}
		</div>
	}
	else
	{
		<p>Чтобы продолжить обучение, выберите тему из списка.</p>
	}
}
else
{
	<p>Чтобы увидеть карту курса и зарегистрироваться, вам нужно @Html.ActionLink("зарегистрироваться", "Register", "Account") или @Html.ActionLink("войти", "Login", "Account").</p>
}

