@model GeoCourse.Client.Models.IndexViewModel
@{
	ViewBag.Title = "Мои курсы";
}

<h2>@ViewBag.Title</h2>
<p>Ниже отображаются курсы, на которые Вы в данный момент записаны.</p>

<div class="row text-center">
	@foreach (var course in ViewBag.MyCourses)
	{
		<div class="col-md-3 col-sm-6 hero-feature">
			<div class="thumbnail">
				<img src="@course.PicturePath" alt="">
				<div class="caption">
					<h3>@course.Title</h3>
					<p>@((course.Description as string).Substring(0, 102) + "...")</p>
					<p>
						@Html.ActionLink("Открыть", "Course", "Course", new { id = course.CourseId }, new { @class = "btn btn-primary" })
					</p>
				</div>
			</div>
		</div>
	}
</div>